<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor amet skateboard coloring book snackwave, glossier gastropub tumeric pinterest post-ironic microdosing meditation meh knausgaard. Brooklyn drinking vinegar 3 wolf moon franzen, man braid kinfolk distillery yuccie letterpress 8-bit shabby chic roof party health goth pickled. Man bun pop-up lyft before they sold out umami, pork belly taxidermy master cleanse salvia franzen typewriter. Cloud bread authentic kickstarter pitchfork austin pabst enamel pin messenger bag coloring book cliche single-origin coffee vape.</p>
  </div>
</div>
