<% @posts.each do |post| %>
  <div class="jumbotron">
    <h2 class="jumbotron-heading"><%= link_to post.title, post %></h2>
    <p class="lead"><%= truncate(post.body, length:200) %></p>
    <hr class="my-4">
    <p class="text-muted"><%= time_ago_in_words(post.created_at) %> ago</p>
  </div>
<% end %>
